@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@media only screen and (min-width: 1000px) {
    h1 {
        position: relative;
    }
    .delete-task {
        position: absolute;
        right: 25px;
        z-index: 1000;
    }
    .cross {
        position: relative;
        top: -25px;
    }
    .title {
        text-transform: uppercase;
        position: relative;
        background: none;
        color: white;
        letter-spacing: 10px;
        font-size: 40px;
        left: 32.5%;
        top: 70px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .mode {
        position: relative;
        left: 67.5%;
        top: 35px;
        cursor: pointer;
    }

    .background {
        position: absolute;
        width: 100%;
    }

    .list {
        margin: 0px;
    }
    .container {
        font-family: 'Josefin Sans', sans-serif;
        background-color: hsl(0, 0%, 98%);
        position: relative;
        background: hsl(0, 0%, 98%);
        width: 530px;
        left: 32.5%;
        top: 70px;
        border-radius: 6px;
    }

    .container-below {
        font-family: 'Josefin Sans', sans-serif;
        background-color: hsl(0, 0%, 98%);
        position: relative;
        width: 320px;

        left: 25px;
        top: 120px;
        border-radius: 6px;
    }

    .below-list {
        display: inline;
        background: none;
        color: hsl(235, 19%, 35%);
        margin-top: 100px;
        border-radius: 0px;
        top: 80px;
        left: 42.5%;
        /* right: ; */
    }

    .items-left {
        font-size: 13px;
        margin-left: 25px;
    }

    .menu {
        display: inline;
        cursor: pointer;
    }

    .menu li {
        display: inline-block;
    }

    .todo {
        border-radius: 15px;
    }

    .menu-item:hover {
        display: inline-block;
        color: hsl(235, 19%, 35%);
    }

    .active {
        color: hsl(220, 98%, 61%);
    }
    .todo-item {
        padding: 15px 25px;
        display: block;
        margin-bottom: 10px;
        border-bottom: 0.1px solid hsl(233, 11%, 84%);
        cursor: pointer;
        z-index: 5;
    }
    .todo-text {
        margin-left: 10px;
        display: inline-block;
        /* z-index: ; */
    }
    .done {
        text-decoration: line-through;
        color: hsl(236, 33%, 92%);
    }
    .new-todo-item {
        padding: 15px 25px;
        display: block;
        margin-bottom: 10px;
    }
    .menu-item {
        margin-left: 10px;
    }
    #actions {
        position: absolute;
        right: 30px;
        font-size: 14px;
        font-weight: 500;
        color: hsl(235, 19%, 35%);
    }
    #actions .menu-item {
        margin-left: 0px;
    }
    #states {
        position: absolute;
        right: 35%;
        font-weight: 700;
    }
    .list-footer {
        padding: 5px 10px;
        position: relative;
        color: hsl(233, 11%, 84%);
        font-weight: 400;
        height: 30px;
    }

    .new-task-input {
        border: none;
        background-color: hsl(0, 0%, 98%);
    }
    .new-task-input:focus {
        border: none;
    }

    input.new-task-input {
        margin: 0;
        text-align: left;
        outline: 0;
        z-index: 2;
        border-radius: 5px;
        padding: 15px 25px;
    }

    .btn {
        display: inline-block;
        position: absolute;
        background: hsl(0, 0%, 98%);
        color: #fff;
        border: none;
        padding: 5px 10px;
        /* margin: 5px; */
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        /* font-family: inherit; */

        filter: brightness(1);
        font-family: 'Lobster', cursive;
    }
    .btn:hover {
        filter: brightness(1.08);
        transition: 0.25s;
    }
    .btn:focus {
        outline: none;
    }

    .btn:active {
        transform: scale(0.98);
    }
    .hidden {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .hidden {
        display: none;
    }
    h1 {
        position: relative;
    }
    .delete-task {
        position: absolute;
        right: 25px;
        z-index: 1000;
    }
    .cross {
        position: relative;
        top: -25px;
    }
    .btn {
        display: inline-block;
        background: hsl(0, 0%, 98%);
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        /* font-family: inherit; */

        filter: brightness(1);
        font-family: 'Lobster', cursive;
    }
    .btn:hover {
        filter: brightness(1.08);
        transition: 0.25s;
    }
    .btn:focus {
        outline: none;
    }

    .btn:active {
        transform: scale(0.98);
    }
    .title {
        text-transform: uppercase;
        position: absolute;
        background: none;
        color: white;
        letter-spacing: 10px;
        font-size: 40px;
        left: 30px;
        top: 40px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .mode {
        position: relative;
        left: 82.5%;
        top: 42.5px;
        cursor: pointer;
    }
    .background {
        position: absolute;
        width: 100%;
        height: 25%;
    }

    .list {
        margin: 0px;
    }

    .state-menu-item {
        margin-left: 45px;
        margin-top: 15px;
    }
    .mobile-menu {
        position: relative;
        top: -120px;
        left: 50px;
        margin: 50px;
    }
    #mobile-state-menu {
        background-color: hsl(0, 0%, 98%);
        width: 320px;
        border-radius: 6px;
        height: 40px;
    }
    .container {
        font-family: 'Josefin Sans', sans-serif;
        background-color: hsl(0, 0%, 98%);
        position: relative;
        width: 320px;
        left: 7%;
        top: 100px;
        border-radius: 6px;
    }
    .container-below {
        font-family: 'Josefin Sans', sans-serif;
        background-color: hsl(0, 0%, 98%);
        position: relative;
        width: 320px;

        left: 25px;
        top: 120px;
        border-radius: 6px;
    }
    .below-list {
        display: inline;
        color: hsl(235, 19%, 35%);
        margin-top: 100px;
        border-radius: 0px;
        top: 150px;
        left: 22.5%;
        background: rgba(204, 204, 204, 0.1);
    }

    .items-left {
        font-size: 13px;
        margin-left: 25px;
    }

    .menu {
        display: inline;

        cursor: pointer;
    }

    .menu li {
        display: inline-block;
    }

    .todo {
        border-radius: 15px;
    }

    .menu-item:hover {
        display: inline-block;
        color: hsl(235, 19%, 35%);
    }

    .active {
        color: hsl(220, 98%, 61%);
    }
    .todo-item {
        padding: 15px 25px;
        display: block;
        margin-bottom: 10px;
        border-bottom: 0.1px solid hsl(233, 11%, 84%);
        cursor: pointer;
    }
    .todo-text {
        margin-left: 10px;
        display: inline-block;
    }
    .done {
        text-decoration: line-through;
        color: hsl(236, 33%, 92%);
    }
    .new-todo-item {
        padding: 15px 25px;
        display: block;
        margin-bottom: 10px;
    }
    .menu-item {
        margin-left: 10px;
    }
    #actions {
        position: absolute;
        right: 30px;
        font-size: 14px;
        font-weight: 500;
        color: hsl(235, 19%, 35%);
    }
    #actions .menu-item {
        margin-left: 0px;
    }
    #states {
        position: absolute;
        right: 35%;
        font-weight: 700;
    }
    .list-footer {
        padding: 5px 10px;
        position: relative;
        color: hsl(233, 11%, 84%);
        font-weight: 400;
        height: 30px;
    }

    .new-task-input {
        border: none;
        background-color: hsl(0, 0%, 98%);
    }
    .new-task-input:focus {
        border: none;
    }

    input.new-task-input {
        margin: 0;
        text-align: left;
        outline: 0;
        z-index: 2;
        border-radius: 5px;
        padding: 15px 25px;
    }
}
